@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap");
$textColor: #ffffff;
$backgroundColor: rgb(39, 39, 39);
$blue: #00548b80;
$darkBlue: rgba(0, 83, 139, 0.157);

.App {
	background-color: $backgroundColor;
	min-height: 100vh;
	height: 100%;
}
.mainTop {
	display: flex;
	flex-direction: row;
	height: 30vh;
	> div {
		margin: 2rem;
		margin-top: 25px;
		width: 50%;
	}
}
.titleBar {
	color: $textColor;
	justify-content: center;
	width: 100%;
	font-family: "Source Sans Pro", sans-serif;
	font-weight: bold;
}
.subtitleBar {
	color: $textColor;
	font-family: "Source Sans Pro", sans-serif;
	> span {
		font-weight: bold;
		background-color: $blue;
		border-radius: 10px;
		padding: 0.2rem;
		padding-left: 0.4rem;
		padding-right: 0.4rem;
	}
}

.dropZone {
	background-color: $blue;
	border-radius: 15px;
	border-style: dashed;
	border-color: rgb(173, 216, 230, 0);
	width: 100%;
	height: 100%;
	transition: border-color 0.2s ease;
	&:hover {
		cursor: pointer;
	}
	&.hovering {
		border-color: rgb(173, 216, 230, 1);
		.dropText {
			font-size: 2rem;
		}
	}
	> div {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100%;
		width: 100%;
		.dropText {
			font-size: 1.5rem;
			font-family: "Source Sans Pro", sans-serif;
			color: $textColor;
			transition: font-size 0.2s;
		}
	}
}

.codeBlock {
	background: $darkBlue !important;
	border-radius: 10px;
}
.contentBody {
	display: flex;
	flex-direction: column;
	justify-content: center;
	.previewData,
	.copyButton {
		margin: 20px;
		margin-top: 10px;
		margin-bottom: 10px;
	}
	.copyButton {
		align-self: center;
		width: 50%;
	}
}
